@model GranjaSystem.Models.tblRoles

@{
    ViewBag.Title = "Detalles del Registro";
}
    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE ROLES</h4></div>
            <div class="panel-body bg-gray">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Rol)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Rol)
                        </dd>

                        <dt>
                            Descripción
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                    </dl>
                </div>
                <p align="right">
                    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdRol }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>  
    </div>
