@model GranjaSystem.Models.tblFichas
@{
    ViewBag.Title = "Eliminar Registro";
}
    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE FICHAS</h4></div>
            <div class="panel-body bg-gray">
                <h5 class="alert alert-danger">¿Estas Seguro de Eliminar el Registro?</h5>
                <div>
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Empleados.NombreEmpleado)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Empleados.NombreEmpleado)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Varracos.Procedencia)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Varracos.Procedencia)
                            </dd>

                            <dt>
                                Cerda
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Cerdas.NumCerda)
                            </dd>

                            <dt>
                                N° Partos
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NumParto)
                            </dd>

                            <dt>
                                Fecha de Servicio
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FechaServio)
                            </dd>

                            <dt>
                                Fecha Parto
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FechaParto)
                            </dd>

                            <dt>
                                N° Nacidos Vivos
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NacidosVivos)
                            </dd>
                        </dl>
                    </div>
                    
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>
                                N° Nacidos Muertos
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NacidosMuertos)
                            </dd>

                            <dt>
                                N° Nacidos Momias
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NacidosMomias)
                            </dd>

                            <dt>
                                Total Nacidos
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TotalNacidos)
                            </dd>

                            <dt>
                                Peso Promedio 1D
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PesoPromedio1D)
                            </dd>

                            <dt>
                                N° Destetados
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NumDestetado)
                            </dd>

                            <dt>
                                Peso Promedio 28D
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PesoPromedio28D)
                            </dd>

                            <dt>
                                Fecha Destete
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FechaDestete)
                            </dd>
                        </dl>
                    </div>
                    

                    
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-sm-offset-9 col-sm-3" align="right">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


