@model GranjaSystem.Models.tblFichas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblFichas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleados.NombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.NombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Varracos.Procedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Varracos.Procedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cerdas.NumCerda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cerdas.NumCerda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumParto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumParto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaServio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaServio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaParto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaParto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NacidosVivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NacidosVivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NacidosMuertos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NacidosMuertos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NacidosMomias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NacidosMomias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNacidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNacidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoPromedio1D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoPromedio1D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumDestetado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumDestetado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoPromedio28D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoPromedio28D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDestete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDestete)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
