@model GranjaSystem.Models.tblLechones

@{
    ViewBag.Title = "Detalle de Lechones";
}

    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE CERDOS</h4></div>
            <div class="panel-body bg-gray">
                <div style="font-size: 20px;">
                    <div class="col-md-offset-2 col-md-9">
                        
                        <div class="col-sm-6 ">                          
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.NumLote)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NumLote)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Edad)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Edad)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NCerdos)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NCerdos)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NCerdas)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NCerdas)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.NVarracos)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NVarracos)
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 ">
                            <dl class="dl-horizontal">



                                <dt>
                                    @Html.DisplayNameFor(model => model.Fases)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Fases)
                                </dd>

                                <dt>
                                    Fecha Inicio
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FechaInicio)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FechaRegistro)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FechaRegistro)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Estado)
                                </dd>

                            </dl>
                        </div>
                       
                        <p align="right">
                            @Html.ActionLink("Modificar", "Edit", new { id = Model.IdLechones }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
                        </p>
                    </div>

                </div>
               
            </div>
           
        </div>
  </div>



                           

                               
                           
