@model IEnumerable<GranjaSystem.Models.tblLechones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumLote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NCerdos)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.NCerdas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NVarracos)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Fases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NumLote)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NCerdos)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.NCerdas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NVarracos)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Fases)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaInicio)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdLechones }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdLechones }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdLechones })
    </td>
</tr>
}

</table>
