@model IEnumerable<GranjaSystem.Models.tblLechones>

@{
    ViewBag.Title = "Control de Cerdos";
    
}

<div class="row content container-fluid">
    <p>
        @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus btn btn-success btn-lg", title = "Agregar" })
    </p>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONTROL DE CERDOS</h4></div>
        <div class="panel-body bg-gray">
            <div style="overflow-x:scroll">
                <table id="Tabla" class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>
                                Lote
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Edad)
                            </th>
                            <th>
                                Cerdos
                            </th>
                            @*<th>
                    @Html.DisplayNameFor(model => model.NCerdas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NVarracos)
                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Fases)
                            </th>
                            <th>
                                Fecha Inicio
                            </th>
                            <th>Diarios</th>
                            <th>Semanal</th>
                            @*<th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </th>*@
                            @*<th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumLote)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Edad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NCerdos)
                                </td>
                                @*<td>
                    @Html.DisplayFor(modelItem => item.NCerdas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NVarracos)
                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fases)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.qqDiarios) qq </td>
                                <td>@Html.DisplayFor(modelItem => item.qqSemanal) qq </td>
                                @*<td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>*@
                                @*<td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>*@
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.IdLechones }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" })
                                @Html.ActionLink(" ", "Details", new { id = item.IdLechones }, new { @class = "fa fa-eye btn btn-warning", title = "Ver Detalles" })
                                @{
                                    if (item.Edad >= 13 && item.Edad <= 15 && item.Fases != "Final M")
                                    {
                                        @Html.ActionLink(" ", "Subir", new { id = item.IdLechones }, new { @class = "fa fa-arrow-circle-up btn btn-primary", title = "Subir fase" })
                                    }
                                    else if (item.Edad >= 20)
                                    {
                                        <button onclick="modalVenta('@item.IdLechones','@item.NCerdos')" class="fa fa-cart-arrow-down  btn btn-primary" title = "Descartar Cerdos" >
                                        </button>
                                        @*@Html.ActionLink(" ", "Vender", new { id = item.IdLechones }, new { @class = "fa fa-cart-arrow-down btn btn-primary", title = "Descartar Cerdos" })*@
                                    }
                                }

                                @Html.ActionLink(" ", "Delete", new { id = item.IdLechones }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })

                            </td>
                            </tr>
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal danger fade" id="modalVenta" tabindex="-1" role="dialog" aria-labelledby="CrearVenta" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div id="venta">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
        function modalVenta(id,cerdos) {
            var url = '@Url.Action("Vender","Lechones")';
            var insertHtml = `<div class="modal-body">
                <div class="row">
                <form method="POST" action="${url}">
                <input type="text" value="${id}" hidden name="id" />
                    <div class="form-group">
                        <label for="Cantidad"><h3>Cuantos se Venderan :</h3></label>
                        <div class="col-sm-9">
                        <input class="form-control" type="number" id="Cantidad" name="Cantidad" min="1" max="${cerdos}"  required placeholder="Ingrese la Cantidad" />
                    </div>
<div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Vender</button>
                    </div>
                    </div>
                    
                </div>
            </div>
<div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            
            </div>`
            $("#modalVenta").modal("show");
            $("#venta").html(insertHtml);
        }

        function Vender(idLechon,Cerdos) {

            $.post(url, { id: idLechon, Cantidad: Cerdos }).done(function () { location.reload() });
        }
</script>