@model IEnumerable<GranjaSystem.Models.tblDetalleLote>

@{
    ViewBag.Title = "Control de Lotes";
}



    <div class="row content container-fluid">
        <p>
            @Html.ActionLink(" Agregar", "CargarLote","Lotes", null, new { @class = "fa fa-plus btn btn-primary" })
        </p>
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DETALLE DE LOTES </h4></div>
            <div class="panel-body bg-gray">
                <table id="Tabla" class="table table-bordered table-hover">
                    <tr>
                        <th>
                            Cerda
                        </th>
                        <th>
                            Fecha Inseminacion
                        </th>
                        <th>
                            Fecha Parto
                        </th>
                        <th>
                            Varraco
                        </th>
                        <th>
                            Vacuna Litter
                        </th>
                        <th>
                            Vacuna Desparacitador VitaminaA
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Observaciones)
                        </th>
                        <th>
                            Fecha Registro
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cerdas.NumCerda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInseminacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaParto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Varracos.NumVarraco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fvacuna1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fvacuna2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Observaciones)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRegistro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.IdDLote }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" })
                                @Html.ActionLink(" ", "Details", new { id = item.IdDLote }, new { @class = "fa fa-eye btn btn-warning", title = "Ver Detalles" })
                                @Html.ActionLink(" ", "Delete", new { id = item.IdDLote }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>



