@model GranjaSystem.Models.tblCerdas

@{
    ViewBag.Title = "Ficha de Cerda N° " + Html.DisplayFor(model => model.NumCerda);
}
<link href="~/Content/tabla_scroll.css" rel="stylesheet" />
<div class="row content container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONTROL DE CERDA N° @Html.DisplayFor(model => model.NumCerda)</h4></div>
        <div class="panel-body bg-gray">
            <div style="font-size: 20px;">
                <div class="col-md-offset-2 col-md-9">
                    <div class="col-sm-6 ">
                        <dl class="dl-horizontal">
                            <dt>
                                Genética
                            </dt>


                            <dd>
                                @Html.DisplayFor(model => model.tblGeneticas.Genetica)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Procedencia)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Procedencia)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Observaciones)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Observaciones)
                            </dd>
                        </dl>

                    </div>



                    <div class="col-sm-6 ">
                        <dl class="dl-horizontal ">
                            <dt>
                                Número de Partos
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NumParto)
                            </dd>

                            <dt>
                                Fecha De Registro
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FechaRegistro)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Estado)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Estado)
                            </dd>
                        </dl>
                    </div>

                    <p align="right">
                        @Html.ActionLink("Modificar", "Edit", new { id = Model.IdCerda }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
                    </p>
                </div>


            </div>
          



        </div>
    </div>
    @*<p>
        @Html.ActionLink(" Agregar", "Create", "Fichas", null, new { @class = "fa fa-plus btn btn-primary" })
    </p>*@
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONTROL DE FICHAS</h4></div>
        <div class="panel-body  table-responsive-lg bg-gray">
            <div id="main">
                <div id="horizontal-scroll">
                    <table id="Tabla" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Parto
                                </th>
                                <th>
                                    Varraco
                                </th>
                                <th>
                                    Fecha Servicio
                                </th>
                                <th>
                                    Fecha Parto
                                </th>
                                <th>
                                    N° Vivos
                                </th>
                                <th>
                                    N° Muertos
                                </th>
                                <th>
                                    N° Momias
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Peso 0d
                                </th>
                                <th>
                                    N° Destetados
                                </th>
                                <th>
                                    Peso 28d
                                </th>
                                <th>
                                    Fecha Destete
                                </th>
                                <th>
                                    Partero
                                </th>
                            </tr>
                        <thead>
                        <tbody>

                            @foreach (var item in ViewBag.FichasC)
                            {
                                <tr>
                                    <td>
                                        @item.NumParto
                                    </td>
                                    <td>
                                        @item.Varracos.NumVarraco
                                    </td>

                                    <td>
                                        @item.FechaServio
                                    </td>
                                    <td>
                                        @item.FechaParto
                                    </td>
                                    <td>
                                        @item.NacidosVivos
                                    </td>
                                    <td>
                                        @item.NacidosMuertos
                                    </td>
                                    <td>
                                        @item.NacidosMomias
                                    </td>
                                    <td>
                                        @item.TotalNacidos
                                    </td>
                                    <td>
                                        @item.PesoPromedio1D Lb
                                    </td>
                                    <td>
                                        @item.NumDestetado
                                    </td>
                                    <td>
                                        @item.PesoPromedio28D Lb
                                    </td>
                                    <td>
                                        @item.FechaDestete
                                    </td>
                                    <td>
                                        @item.Empleados.NombreEmpleado
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    

                </div>
            </div>

        </div>

    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONTROL DE VACUNAS</h4></div>
        <div class="panel-body  table-responsive-lg bg-gray">
                <div align="justify">
                    <table id="Tabla" class="table table-bordered table-responsive table-hover">
                        @*<thead>*@
                            <tr>
                                <th>
                                    Fecha Inyección
                                </th>
                                <th>
                                    Vacuna
                                </th>
                                <th>
                                    Descipción
                                </th>
                            </tr>
                        @*</thead>*@

                        @*<tbody>*@
                            @foreach (var item in ViewBag.Vacunas)

                            {
                                <tr>
                                    <td>
                                        @item.FechaInyeccion
                                    </td>
                                    <td>
                                        @item.Vacuna
                                    </td>
                                    <td>
                                        @item.Descripcion
                                    </td>
                                </tr>
                            }
                       

                    </table>

                </div>

            </div>
        </div>
</div>
