@model GranjaSystem.Models.tblCerdas

@{
    ViewBag.Title = "Modificar Registro";
}
    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE CERDA</h4></div>
            <div class="panel-body bg-gray">

                <form id="Validacion" action="" method="post">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IdCerda)
                            <div class="form-group">
                                <label class="control-label col-md-2">Cerda</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NumCerda, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumCerda, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Procedencia, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Procedencia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Procedencia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Fecha Registro</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <Label class="control-label col-md-2">N° Parto </Label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NumParto, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumParto, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Estado</label>
                                <div class="col-md-10">
                                    <select name="Estado" class="form-control">
                                        <option value="@Model.Estado">@Model.Estado</option>
                                        <option value="Inseminada">Inseminada</option>
                                        <option value="Inseminación">Inseminación</option>
                                        <option value="Vacía">Vacía</option>
                                        <option value="Vendida">Vendida</option>
                                    </select>

                                    @*@Html.DropDownList(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                <Label class="control-label col-md-2">Genética </Label>
                                <div class="col-md-10">
                                    @Html.DropDownList("IdGenetica", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdGenetica, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-9 col-sm-3" align="right">
                                    <input type="submit" value="Modificar" class="btn btn-success" /> 
                                    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
                                </div>
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

@section Validar{
    <script type="text/javascript">
        $("#Validacion").validate({
            rules: {
                NumCerda: {

                    required: true,
                    number: true
                },

                NumParto: {
                    required: true,
                    number: true

                }

            }
        });
    </script>



}
