
@{
    ViewBag.Title = "Reporte Cerda";
    Layout = null;
}
<!-- Bootstrap 3.3.7 -->
<link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <table align="center">
            <tr>
                <td><img style="height:100px" src="~/Content/img/Logo.png" /></td>
                <td><h2>FICHA DE CERDA REPRODUCTORA</h2></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div align="right">
            <label>N° DE CERDA:</label> @ViewBag.Cerdas.NumCerda
            <label>GENÉTICA:</label> @ViewBag.Cerdas.Genetica.Genetica
            <label>FECHA :</label> @DateTime.Now
        </div>
    </div>
    <div class="row">
        <div class="text-center"><h5><b>FICHAS</b></h5></div>
        <div align="justify">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Parto
                        </th>
                        <th>
                            Varraco
                        </th>
                        <th>
                            Fecha Servicio
                        </th>
                        <th>
                            Fecha Parto
                        </th>
                        <th>
                            N° Vivos
                        </th>
                        <th>
                            N° Muertos
                        </th>
                        <th>
                            N° Momias
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Peso 0d
                        </th>
                        <th>
                            N° Destetados
                        </th>
                        <th>
                            Peso 28d
                        </th>
                        <th>
                            Fecha Destete
                        </th>
                        <th>
                            Partero
                        </th>
                    </tr>
                <thead>
                <tbody>

                    @foreach (var item in ViewBag.Fichas)
                    {
                        <tr>
                            <td>
                                @item.NumParto
                            </td>
                            <td>
                                @item.Varracos.NumVarraco
                            </td>

                            <td>
                                @item.FechaServio
                            </td>
                            <td>
                                @item.FechaParto
                            </td>
                            <td>
                                @item.NacidosVivos
                            </td>
                            <td>
                                @item.NacidosMuertos
                            </td>
                            <td>
                                @item.NacidosMomias
                            </td>
                            <td>
                                @item.TotalNacidos
                            </td>
                            <td>
                                @item.PesoPromedio1D Lb
                            </td>
                            <td>
                                @item.NumDestetado
                            </td>
                            <td>
                                @item.PesoPromedio28D Lb
                            </td>
                            <td>
                                @item.FechaDestete
                            </td>
                            <td>
                                @item.Empleados.NombreEmpleado
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="text-center"><h5><b>Aplicaciones de Vacuna y Antibioticos</b></h5></div>
        <div align="justify">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        Fecha Inyección
                    </th>
                    <th>
                        Vacuna
                    </th>
                    <th>
                        Descipción
                    </th>
                </tr>

                @foreach (var item in ViewBag.Vacunas)
                {
                    <tr>
                        <td>
                            @item.FechaInyeccion
                        </td>
                        <td>
                            @item.Vacuna
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>