@model GranjaSystem.Models.tblGeneticas

@{
    ViewBag.Title = "Edit";
}

<div class="row content container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>GENETICA</h4></div>
        <div class="panel-body bg-gray">

            <form action="/" id="Validaciones" method="post">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.IdGenetica)

                        <div class="form-group">
                            <label class="control-label col-md-2">Genética</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Genetica, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Genetica, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Observación</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </form>

        </div>
    </div>
    <div>
        @Html.ActionLink("Atras", "Index", null, new { @class = "fa fa-mail-reply btn btn-success" })
    </div>
</div>
@section Validar{
    <script type="text/javascript">
        $("#Validacion").validate({
            rules: {
                Genetica: {
                    required: true
                }

            }
        });
    </script>



}


