@model IEnumerable<GranjaSystem.Models.tblGeneticas>

@{
    ViewBag.Title = "Index";
}


    <div class="row content container-fluid">
        <p>
            @Html.ActionLink(" Agregar", "Create", null, new { @class = "fa fa-plus btn btn-primary" })
        </p>
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>GENETICA</h4></div>
            <div class="panel-body bg-gray">
                <table id="Tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Genética
                            </th>
                            <th>
                                Observación
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genetica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observacion)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.IdGenetica }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" }) |
                                    @Html.ActionLink(" ", "Details", new { id = item.IdGenetica }, new { @class = "fa fa-eye btn btn-warning", title = "Ver Detalles" }) |
                                    @Html.ActionLink(" ", "Delete", new { id = item.IdGenetica }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })
                                </td>
                            </tr>
                        }
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

