@model IEnumerable<GranjaSystem.Models.tblUsuarios>

@{
    ViewBag.Title = "Index";
}
<div class="row content container-fluid">
    <p>
        @Html.ActionLink(" Agregar", "Create", null, new { @class = "fa fa-plus btn btn-primary" })
    </p>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONTROL DE USUARIOS</h4></div>
        <div class="panel-body bg-gray">
            <table id="Tabla" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Empleados.NombreEmpleado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Usuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Clave)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Roles.Rol)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Empleados.NombreEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario)
                            </td>
                            <td>
                                ******
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Roles.Rol)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.IdUsuario }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" }) |
                                @Html.ActionLink(" ", "Details", new { id = item.IdUsuario }, new { @class = "fa fa-eye btn btn-warning", title = "Ver Detalles" }) |
                                @Html.ActionLink(" ", "Delete", new { id = item.IdUsuario }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>