@{
    ViewBag.Title = "Dashboard";
}

<!-- Ionicons -->
<link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">

<div class="row content content-fluid">
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <b class="text">VARRACOS</b>
                <h4>@ViewBag.CVarracos</h4>
            </div>
            <div class="icon">
                <i class="fa fa-heartbeat"></i>
            </div>
            <a href="@Url.Action("Index","Varracos")" class="small-box-footer">Administrar<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->

        <div class="small-box bg-fuchsia">
            <div class="inner">
                <b class="text">CERDAS</b>
                <h4>@ViewBag.CCerdas</h4>
            </div>
            <a href="@Url.Action("Index","Cerdas")">
                <div class="icon">
                    <i class="fa fa-heart"></i>
                </div>
            </a>

            <a href="@Url.Action("Index","Cerdas")" class="small-box-footer">Administrar<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <b class="text">CERDOS</b>
                <h4>@ViewBag.CLechones</h4>
            </div>
            <div class="icon">
                <i class="fa fa-heart-o"></i>
            </div>
            <a href="@Url.Action("Index","Lechones")" class="small-box-footer">Administrar<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
     @* 
    <div class="col-lg-4 col-xs-4">
         small box 
        <div class="small-box bg-purple">
            <div class="inner">
                <b class="text">FICHAS</b>

                <h4>@ViewBag.CFichas</h4>
            </div>
            <div class="icon">
                <i class="fa fa-archive"></i>
            </div>
            <a href="@Url.Action("Create","Fichas")" class="small-box-footer">Nueva Ficha <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>*@
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green-gradient">
            <div class="inner">
                <b class="text">LOTES</b>
                <h4>@ViewBag.CLotes</h4>
            </div>
            <div class="icon">
                <i class="fa fa-object-group"></i>
            </div>
            <a href="@Url.Action("Index","Lotes")" class="small-box-footer">Administrar<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    @{
        if (Convert.ToString(Session["Rol"]) == "Administrador")
        {

            <!-- ./col -->
            <div class="col-lg-4 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <b class="text">USUARIOS</b>

                        <h4>@ViewBag.CUsuarios</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("Index","Usuarios")" class="small-box-footer">Administrar<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-maroon-active">
                    <div class="inner">
                        <b class="text">EMPLEADOS</b>

                        <h4>@ViewBag.CEmpleados</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people"></i>
                    </div>
                    <a href="@Url.Action("Index","Empleados")" class="small-box-footer">Administrar<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
    }




</div>
