<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
   
    @*<link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">*@
    <link href="~/Content/dist/css/skins/skin-blue.min.css" rel="stylesheet" />
    
    <!-- Data Tables -->
    <link href="~/Content/datatables_custom/main.css" rel="stylesheet" />
    <link href="~/Content/datatables_custom/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/datatables_custom/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Dashboard")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">GBD</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b></b>GRANJA</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">@ViewBag.TotalV</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">VACUNAS ESTE DIA</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        @if (ViewBag.Lit > 0)
                                        {
                                            foreach (var item in ViewBag.IdL)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index","DetalleLotes",new {id=item.IdLote })">
                                                        <i class="fa fa-eyedropper text-aqua"></i> Littler en Lote N° @item.IdLote
                                                    </a>
                                                </li>
                                            }

                                        }
                                        @if (ViewBag.Vit > 0)
                                        {
                                            foreach (var item in ViewBag.IdV)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index","DetalleLotes",new {id=item.IdLote })">
                                                        <i class="fa fa-eyedropper text-red"></i> Desp. y Vitamina en Lote N°@item.IdLote
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs">@Session["Nombre"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">

                                    <img src="~/Content/img/Logo.png" class="img-circle" />
                                    <p>
                                        * @Session["Nombre"] *  @Session["Rol"]
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    @{
                                        if (Convert.ToString(Session["Rol"]) == "Administrador")
                                        {
                                            <div class="row">
                                                <div class="col-xs-4 text-center">
                                                    <a href="@Url.Action("Index", "Roles")">Gestión Roles</a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="@Url.Action("Index", "Empleados")">Gestión Empleados</a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="@Url.Action("Index", "Usuarios")">Gestión Usuarios</a>
                                                </div>
                                            </div>
                                        }
                                    }

                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @{
                                        if (Convert.ToString(Session["Rol"]) == "Administrador")
                                        {
                                            <div class="pull-left">
                                                <a href="@Url.Action("Edit/" + @Session["IdUsuario"], "Usuarios")" class="btn btn-default btn-flat">Modificar</a>
                                            </div>
                                        }
                                    }
                                    <div class="pull-right">
                                        <a href="@Url.Action("Salir","Login")" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/img/Logo.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Granja</p>
                        <p>Bendición de Dios</p>
                    </div>
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENU PRINCIPAL</li>

                    <li>
                        <a href="@Url.Action("Index","Dashboard")">
                            <i class="fa fa-dashboard"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="">
                            <i class="fa fa-heartbeat"></i> <span>Varraco</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Varracos")"><i class="fa fa-search"></i>Control de Varracos</a></li>
                            <li><a href="@Url.Action("Create","Varracos")"><i class="fa fa-plus"></i>Nuevo Varraco</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-heart"></i>
                            <span>Cerdas</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Cerdas")"><i class="fa fa-search"></i>Control de Cerdas</a></li>
                            <li><a href="@Url.Action("Create","Cerdas")"><i class="fa fa-plus"></i>Nueva Cerda</a></li>s
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-object-group"></i> <span>Lotes</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Lotes")"><i class="fa fa-search"></i>Control de Lotes</a></li>
                            <li><a href="@Url.Action("CargarLote","Lotes")"><i class="fa fa-plus"></i>Agregar Lote</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-archive"></i>
                            <span>Fichas</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Fichas")"><i class="fa fa-search"></i> Control de Fichas</a></li>
                            <li><a href="@Url.Action("Create","Fichas")"><i class="fa fa-plus"></i>Agregar Fichas</a></li>s
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-eyedropper"></i> <span>Vacunas</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Vacunas")"><i class="fa fa-search"></i>Control de Vacunas</a></li>
                            <li><a href="@Url.Action("Create","Vacunas")"><i class="fa fa-edit"></i>Agregar Vacuna</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-code-fork"></i> <span>Genetica</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Geneticas")"><i class="fa fa-search"></i>Control de Genetica</a></li>
                            <li><a href="@Url.Action("Create","Geneticas")"><i class="fa fa-edit"></i>Agregar Genetica</a></li>
                        </ul>
                    </li>
                    @{
                        if (Convert.ToString(Session["Rol"]) == "Administrador")
                        {
                            @*<li class="treeview">
                    <a href="#">
                        <i class="fa fa-file-pdf-o"></i> <span>Reportes</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-archive"></i>Reporte de Fichas</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i>Reporte de Cerdas</a></li>
                        <li><a href="#"><i class="fa fa-paw"></i>Reporte de Lechones</a></li>
                        <li><a href="#"><i class="fa fa-vcard"></i>Reporte de Empleados</a></li>
                    </ul>
                </li>*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-vcard"></i>
                                    <span>Empleados</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index","Empleados")"><i class="fa fa-search"></i>Control de Empleados</a></li>
                                    <li><a href="@Url.Action("Create","Empleados")"><i class="fa fa-plus"></i>Nuevo Empleado</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-circle"></i>
                                    <span>Roles</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index","Roles")"><i class="fa fa-search"></i>Gestión de Roles</a></li>
                                    <li><a href="@Url.Action("Create","Roles")"><i class="fa fa-plus"></i>Nuevo Rol</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-users"></i>
                                    <span>Usuarios</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index","Usuarios")"><i class="fa fa-search"></i>Control de Usuarios</a></li>
                                    <li><a href="@Url.Action("Create","Usuarios")"><i class="fa fa-plus"></i>Nuevo Usuario</a></li>
                                </ul>
                            </li>
                        }
                    }

                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <div class="container-fluid content">
                <div class="row">
                    @RenderBody()
                </div>

            </div>

            <!-- /.content -->
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Versión</b> 1.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year - By Fidel G. and Bejamin S.</strong> All rights reserved.
        </footer>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    @RenderSection("Validar", required: false)
    <script type="text/javascript">
        $.extend($.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, rellena este campo.",
            email: "Por favor, escribe una dirección de correo válida",
            url: "Por favor, escribe una URL válida.",
            date: "Por favor, escribe una fecha válida.",
            dateISO: "Por favor, escribe una fecha (ISO) válida.",
            number: "Por favor, escribe un número entero válido.",
            digits: "Por favor, escribe sólo dígitos.",
            equalTo: "Por favor, escribe el mismo valor de nuevo.",
            maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
            minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
            rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
            range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
            max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
            min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
        });
    </script>
    @RenderSection("EnvioDatos", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".Tablas").DataTable({
                pageLength: 25,
                responsive: true
            });
        });
    </script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <!--JQ VALIDATION-->
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="~/Content/datatables_custom/popper/popper.min.js"></script>
    <script src="~/Content/datatables_custom/main.js"></script>
    <!-- datatables JS -->
    <script src="~/Content/datatables_custom/datatables/datatables.min.js"></script>
    <!-- para usar botones en datatables JS -->
    <script src="~/Content/datatables_custom/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/datatables_custom/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/Content/datatables_custom/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/Content/datatables_custom/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/Content/datatables_custom/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
    <script src="~/Content/datatables_custom/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
</body>
</html>