@model GranjaSystem.Models.tblLotes

@{
    ViewBag.Title = "Cerdas del Lote N°"+ Html.DisplayFor(model => model.NumLote);
}

    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>DATOS DEL LOTE</h4></div>
            <div class="panel-body bg-gray">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NumLote)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumLote)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FechaRegistro)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FechaRegistro)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Estado)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdLote } , new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Atras", "Index" , null, new { @class = "btn btn-success" })
                </p>


            </div>
        </div>
        
    </div>
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CERDAS DEL LOTE</h4></div>
            <div class="panel-body bg-gray">
                    <!-- Date -->
                    <table id="Tabla" class="table table-bordered table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>N° Cerda</th>
                                <th>Fecha inceminación</th>
                                <th>Posible Parto</th>
                                <th>N° Varraco</th>
                                <th>Vacuna Litter</th>
                                <th>Vacuna Litter P</th>
                                <th>Vacuna D Vitamina A</th>
                                <th>Observación</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.DLotes)
                            {
                            <tr>
                                <td>
                                    @item.Cerdas.NumCerda
                                </td>
                                <td>
                                    @item.FechaInseminacion
                                </td>
                                <td>
                                    @item.FechaParto
                                </td>
                                <td>
                                    @item.Varracos.NumVarraco
                                </td>
                                <td>
                                    @item.Fvacuna1
                                </td>
                                <td>
                                    @item.Fvacuna2
                                </td>
                                <td>
                                    @item.Fvacuna15
                                </td>
                                <td>
                                    @item.Observaciones
                                </td>

                            </tr>
                            }
                        </tbody>

                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

