@model GranjaSystem.Models.tblLotes

@{
    ViewBag.Title = "Details";
}

    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE LOTES</h4></div>
            <div class="panel-body bg-gray">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NumLote)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumLote)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FechaRegistro)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FechaRegistro)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Estado)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdLote } , new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Atras", "Index" , null, new { @class = "btn btn-success" })
                </p>


            </div>
        </div>
        
    </div>
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Cerdas del Lote</h3>
            </div>
            <div class="box-body">
                <!-- Date -->
                <table id="Tabla" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <td>N° Cerda</td>
                            <td>Fecha inceminación</td>
                            <td>POsible Parto</td>
                            <td>Vacuna 1</td>
                            <td>Vacuna 2</td>
                            <td>Observación</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>12/12/2020</td>
                            <td>12/12/2020</td>
                            <td>12/12/2020</td>
                            <td>12/12/2020</td>
                            <td>Ninguna</td>
                        </tr>
                    </tbody>

                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

