@model IEnumerable<GranjaSystem.Models.tblLotes>

@{
    ViewBag.Title = "Control de Lotes";
}

    <div class="row content container-fluid">
        <p>
            @Html.ActionLink(" ", "CargarLote", null, new { @class = "fa fa-plus btn btn-success btn-lg", title = "Agregar" })
        </p>
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE LOTES </h4></div>
            <div class="panel-body bg-gray">
                <table id="Tabla" class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>
                                N° Lote
                            </th>
                            <th>
                                Fecha Registro
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th><i class="fa fa-gear"></i> </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumLote)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td>
                                    @*@Html.ActionLink(" ", "Edit", new { id = item.IdLote }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" })*@
                                    @Html.ActionLink(" ", "Index", "DetalleLotes", new { id = item.IdLote }, new { @class = "fa fa-list btn btn-info", title = "Ver Cerdas" })
                                    @Html.ActionLink(" ", "Create", "VacunasLotes", new { id = item.IdLote }, new { @class = "fa fa-eyedropper btn btn-warning", title = "Vacunar" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.IdLote }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })
                                </td>
                            </tr>
                        }
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>




