@model IEnumerable<GranjaSystem.Models.tblVacunas>

@{
    ViewBag.Title = "Control de Vacunas";
}

    <div class="row content container-fluid">
        <p>
            @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus btn btn-success btn-lg", title = "Agregar" })
        </p>
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE VACUNAS</h4></div>
            <div class="panel-body bg-gray">
                <table class="table table-bordered table-hover">


                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cerdas.Procedencia)
                        </th>
                        <th>
                            Fecha Registro
                        </th>
                        <th>
                            Fecha Inyección
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vacuna)
                        </th>
                        <th>
                            Descipción
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cerdas.Procedencia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRegistro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInyeccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vacuna)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.IdVacuna }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" }) |
                                @Html.ActionLink(" ", "Details", new { id = item.IdVacuna }, new { @class = "fa fa-eye btn btn-warning", title = "Ver Detalles" }) |
                                @Html.ActionLink(" ", "Delete", new { id = item.IdVacuna }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })
                            </td>
                        </tr>
                    }



                </table>
            </div>
        </div>
    </div>


